body {
  font-family: "Poppins", sans-serif;
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.5rem;
}
.orange-color {
  color: orange;
}
.flexible-content {
  display: flex;
  padding-bottom: 100px;
}
.half-width {
  width: 50%;
  padding: 3%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  font-size: 1.2rem;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 30px;
  color: white;
  font-weight: 500px;
  border-radius: 3px;
}
.top-banner {
}
.dream-big {
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
p {
  text-align: justify;
}
.experience-item {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 5px;
  border-left: 7px solid blue;
}
.orange {
  color: orange;
}
h2 {
  font-size: 35px;
}
.experience-area {
  background-image: url(../images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full-stack-developer {
  border-left: 7px solid tomato;
}
#baby-web-developer {
  border-left: 7px solid blue;
}
footer p {
  text-align: center;
}
